@using Microsoft.AspNetCore.Identity
@using RafaelaColabora.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rafaela Colabora</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<div style="height: 92vh"></div>
<div class="jumbotron" 
     style="height: 92vh;
     margin: 0rem -0.7rem;
     position: absolute;
     left: 0;
     top: 8vh;
     width: 100%;
     margin: 0;
     background-image: url('https://fondosmil.com/fondo/7756.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;">

    <div class="container text-center">
        <h1>My Portfolio</h1>
        <p>Some text that represents "Me"...</p>
    </div>
</div>*@

@if (SignInManager.IsSignedIn(User))
{
    <component type="typeof(PostCreate)" render-mode="ServerPrerendered" param-FKUserId="ViewBag.FKUserId"/>
}
else
{
    <p>
        <a asp-controller="Posts" asp-action="Create">Create New</a>
    </p>
}

@*<component type="typeof(Person)" render-mode="ServerPrerendered"
    param-APerson="Model" />*@

