@using Microsoft.AspNetCore.Identity
@using RafaelaColabora.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rafaela Colabora</h1>
</div>

@*<div style="height: 92vh"></div>
    <div class="jumbotron"
         style="height: 92vh;
         margin: 0rem -0.7rem;
         position: absolute;
         left: 0;
         top: 8vh;
         width: 100%;
         margin: 0;
         background-image: url('https://fondosmil.com/fondo/7756.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;">

        <div class="container text-center">
            <h1>My Portfolio</h1>
            <p>Some text that represents "Me"...</p>
        </div>
    </div>*@

<br />
<br />

@if (SignInManager.IsSignedIn(User))
{
    <component type="typeof(Home)"
               render-mode="ServerPrerendered"
               param-FKUserId="ViewBag.FKUserId"
               param-FKUsername="ViewBag.FKUsername" />
}
else
{
    <p>
        <a asp-controller="Posts" asp-action="Create">Create New</a>
    </p>
    <component type="typeof(PostGetAll)" render-mode="ServerPrerendered" />
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
}